<fieldset id="outputSize" class="group">

    <js-templateNonce></js-templateNonce>
    <legend class="">
        <span class="wrap">
            {{- i18n["report.scheduling.job.edit.output.size.label"] }}:
        </span>
    </legend>
    <span>{{- i18n["report.scheduling.job.edit.output.size.inPixels"] }}</span>
    <input type="text" name="outputSizeWidth">
    <span>{{- i18n["report.scheduling.job.edit.output.size.by"] }}</span>
    <input type="text" name="outputSizeHeight">

    <div>
        <span data-field="outputSize" class="message warning"></span>
    </div>
</fieldset>