<div class="section">

    <js-templateNonce></js-templateNonce>
    <span class="wrap controlsTitle">{{-i18n["dashboard.dialog.properties.dashlet.buttons"]}}</span>
    <label class="control checkBox">
        <span class="wrap">{{-i18n["dashboard.component.dialog.properties.apply.button"]}}</span>
        <input name="applyButton" data-bind="checked:applyButton" type="checkbox"/>
        <span class="message warning"></span>
    </label>
    <label class="control checkBox">
        <span class="wrap">{{-i18n["dashboard.component.dialog.properties.reset.button"]}}</span>
        <input name="resetButton" data-bind="checked:resetButton" type="checkbox"/>
        <span class="message warning"></span>
    </label>
</div>