<div class="section">

    <js-templateNonce></js-templateNonce>
    <label class="control checkBox">
        <span class="wrap">{{-i18n["dashboard.dialog.properties.dashlet.borders"]}}</span>
        <input name="showDashletBorders" data-bind="checked:showDashletBorders" type="checkbox"/>
        <span class="message warning"></span>
    </label>

    <div class="group" data-bind="slide:showDashletBorders">
        <div class="jr-mControl jr-mControlColor jr">
            <label class="jr-mControl-label jr">{{-i18n["dashboard.dialog.properties.dashlet.border.color"]}}</label>
            <div class="jr-jColorPicker" data-bind="colorpicker:borderColor" data-show-transparent-input="true"></div>
        </div>
    </div>
</div>