<div class="footer filterGroupButtons">

    <js-templateNonce></js-templateNonce>
    <button class="jr-mButton jr-mButtonText jr-mButtonPrimary jr-mButtonMedium jr" data-target="applyButton" title = "{{- i18n['button.apply'] }}">
        <span class="jr-mButton-label jr">{{- i18n['button.apply'] }}</span>
    </button>
    <button class="jr-mButton jr-mButtonText jr-mButtonDefault jr-mButtonMedium jr" data-target="resetButton" title = "{{- i18n['button.reset'] }}">
        <span class="jr-mButton-label jr">{{- i18n['button.reset'] }}</span>
    </button>
</div>
