<div class="column decorated primary dashboardToolbar">

    <js-templateNonce></js-templateNonce>
    <div class="content">
        <div class="header">
            <div class="toolbar previewMode">
                <ul class="list buttonSet">
                    <li class="node">
                        <ul class="list buttonSet">
                            <li class="node">
                                <button id="back" class="button capsule text up">
                                    <span class="wrap">{{- i18n['dashboard.back.label'] }}<span class="icon"></span></span>
                                </button>
                            </li>
                            <li class="node separator"></li>
                            <li class="node">
                                <button id="export" title="{{- i18n['dashboard.export.title'] }}" class="button capsule mutton up middle hidden" disabled type="button">
                                    <span class="wrap">{{- i18n['dashboard.export.label'] }}<span class="icon"></span><span class="indicator"></span></span>
                                </button>
                            </li>
                            <li class="node">
                                <button id="filterPopup" title="{{- i18n['dashboard.filter.dialog.title'] }}" class="button hidden capsule up" type="button">
                                    <span class="wrap">{{- i18n['dashboard.filterPopup.label'] }}<span class="icon"></span></span>
                                </button>
                            </li>
                            <li class="node separator"></li>
                            <li class="node">
                                <button id="undo" title="{{- i18n['dashboard.undo.title'] }}" class="button capsule mutton up middle hidden" disabled type="button">
                                    <span class="wrap">{{- i18n['dashboard.undo.label'] }}<span class="icon"></span></span>
                                </button>
                            </li>
                            <li class="node">
                                <button id="redo" title="{{- i18n['dashboard.redo.title'] }}" class="button capsule mutton up middle hidden" disabled type="button">
                                    <span class="wrap">{{- i18n['dashboard.redo.label'] }}<span class="icon"></span></span></span>
                                </button>
                            </li>
                            <li class="node">
                                <button id="undoAll" title="{{- i18n['dashboard.undo.all.title'] }}" class="button capsule mutton up middle hidden" disabled type="button">
                                    <span class="wrap">{{- i18n['dashboard.undo.all.label'] }}<span class="icon"></span></span></span>
                                </button>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>