<div class="header-container">

    <js-templateNonce></js-templateNonce>
</div>
<div class="table-container">
    <table>
        <thead>
        <tr>
            <th class="name">
                {{- i18n['dashboard.component.dialog.properties.hyperlinks.name'] }}
                <div>{{- i18n['dashboard.component.dialog.properties.hyperlinks.name'] }}</div>
            </th>
            <th class="value">
                {{- i18n['dashboard.component.dialog.properties.hyperlinks.value'] }}
                <div>{{- i18n['dashboard.component.dialog.properties.hyperlinks.value'] }}</div>
            </th>
            <th class="actions"></th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
<div class="button-container">
    <a class="addNewItem">{{- i18n['dashboard.component.dialog.properties.hyperlinks.add.parameter'] }}</a>
</div>