<td class="name">

    <js-templateNonce></js-templateNonce>
    <input type="text" name=name value="{{- name }}"/>
    <span class="message warning hidden">{{- i18n['ADH_1214_ICHARTS_CHART_FORMAT_DIALOG_REQUIRED_FIELD'] }}</span>
</td>
<td class="value">
    <textarea name="value">{{- value }}</textarea>
    <span class="message warning hidden">{{- i18n['ADH_1214_ICHARTS_CHART_FORMAT_DIALOG_REQUIRED_FIELD'] }}</span>
</td>
<td class="actions">
    <button name="editButton" class="button action simple save"></button>
    <button name="deleteButton" class="button action simple cancel"></button>
</td>