<div class="section">

    <js-templateNonce></js-templateNonce>
    <span class="showTitleBarElements">
        <span class="wrap title">{{-i18n["dashboard.dialog.properties.title.bar.elements"]}}</span>
        <label class="control checkBox">
            <span class="wrap">{{-i18n["dashboard.component.dialog.properties.show.title.bar"]}}</span>
            <input name="showTitleBar" data-bind="checked:showTitleBar" type="checkbox"/>
            <span class="message warning"></span>
        </label>
        <div class="subgroup">
            <label class="control checkBox">
                <span class="wrap">{{-i18n["dashboard.component.dialog.properties.refresh.button"]}}</span>
                <input name="showRefreshButton" data-bind="checked:showRefreshButton, enabled:showTitleBar" type="checkbox"/>
                <span class="message warning"></span>
            </label>
            <label class="control checkBox">
                <span class="wrap">{{-i18n["dashboard.component.dialog.properties.maximize.button"]}}</span>
                <input name="showMaximizeButton" data-bind="checked:showMaximizeButton, enabled:showTitleBar" type="checkbox"/>
                <span class="message warning"></span>
            </label>
        </div>
    </span>
</div>