<div class="header-container">

    <js-templateNonce></js-templateNonce>
</div>
<div class="table-container">
    <table>
        <thead>
        <tr>
            <th class="name">
                {{- i18n.ADH_1214_ICHARTS_CHART_FORMAT_DIALOG_PROPERTY }}
                <div>{{- i18n.ADH_1214_ICHARTS_CHART_FORMAT_DIALOG_PROPERTY }}</div>
            </th>
            <th class="value">
                {{- i18n.ADH_1214_ICHARTS_CHART_FORMAT_DIALOG_VALUE }}
                <div>{{- i18n.ADH_1214_ICHARTS_CHART_FORMAT_DIALOG_VALUE }}</div>
            </th>
            <th class="actions"></th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
<div class="button-container">
    <a href="#" class="addNewItem">{{- i18n.ADH_1214_ICHARTS_CHART_FORMAT_DIALOG_ADD_NEW_PROPERTY }}</a>
</div>
<a href="http://community.jaspersoft.com/wiki/advanced-chart-formatting" target="_blank" class="information-link">{{- i18n.ADH_1214_ICHARTS_CHART_FORMAT_DIALOG_MORE_INFORMATION }}</a>