<div class="section">

    <js-templateNonce></js-templateNonce>
    <label class="control dashletNameProperty" data-bind="validationErrorClass:name">
        <span class="wrap">{{-i18n["dashboard.component.dialog.properties.filter.name"]}}</span>
        <input name="name" type="text" data-bind="value:name"/>
        <span class="message warning" data-bind="validationErrorText:name"></span>
    </label>

    <label class="control resourceIdProperty">
        <span class="wrap">{{-i18n["dashboard.base.dialog.properties.dashlet.id"]}}</span>
        <span class="wrap resource" data-bind="text:id"></span>
    </label>

    <label class="control dashletNameProperty" data-bind="validationErrorClass:label">
        <span class="wrap">{{-i18n["dashboard.component.dialog.properties.filter.label"]}}</span>
        <input name="label" type="text" data-bind="value:label"/>
        <span class="message warning" data-bind="validationErrorText:label"></span>
    </label>
</div>