<div class="jr-mDomain-mode jr" :class="[className]">
    <div class="jr-mDomain-mode-tabs jr"></div>
    <metadataDesigner v-show="isMetadataDesignerVisible"></metadataDesigner>
    <joinsDesigner v-show="isJoinsDesignerVisible"></joinsDesigner>
    <filtersDesigner v-show="isFiltersDesignerVisible"></filtersDesigner>
    <presentationDesigner v-show="isPresentationDesignerVisible"></presentationDesigner>
    <optionsDesigner v-show="isOptionsDesignerVisible"></optionsDesigner>
    <securityDesigner v-show="isSecurityDesignerVisible"></securityDesigner>
</div>
