<div class="pageHeader">
    <div class="pageHeader-title">
        <div class="pageHeader-title-icon ">
            <span class="icon dashboard"></span>
        </div>
        <div class="pageHeader-title-text">{{- i18n['dashboard.new.dashboard']}}</div>
        <div class="pageHeader-title-controls"></div>
        <div class="pageHeader-title-controls pageHeader-title-controlsRight">
            <div class="dashboardToolbar">
                <button class="jr-mButton jr-mButtonText jr-mButtonPrimary jr-mButtonDropdown jr-mButtonMedium jr">
                    <span class="jr-mButton-label jr"></span>
                </button>
            </div>
        </div>
    </div>

</div>

