<div id="menu" class="menu vertical context toggleView hidden" aria-hidden="true" role="menu" tabindex="-1" js-navtype="actionmenu" style="right:8px; top:73px; z-index: 99999;">
    <div class="content">
        <ul id="menuList" role="menubar" js-navtype="actionmenu">
            <li class="leaf" role="menu" js-navtype="actionmenu">
                <p class="wrap toggle button">
                    <span class="icon"></span>
                    {{- i18n['dashboard.toggle.menu.editingText']}}
                </p>
            </li>
            <li class="leaf" role="menu" js-navtype="actionmenu">
                <p class="wrap toggle button">
                    <span class="icon"></span>
                    {{- i18n['dashboard.toggle.menu.viewingText']}}
                </p>
            </li>
        </ul>
    </div>
</div>