<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright (C) 2005 - 2020 TIBCO Software Inc. All rights reserved. Confidentiality & Proprietary.
  ~ Licensed pursuant to commercial TIBCO End User License Agreement.
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd
       	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
    <context:component-scan base-package="com.jaspersoft.ji.ws.rest, com.jaspersoft.ji.jaxrs">
        <!-- you can exclude here some services if you want: -->
        <context:exclude-filter type="regex" expression="com\.jaspersoft\.ji\.jaxrs\.query\.*"/>
    </context:component-scan>

    <bean id="publicOrganizationName" class="java.lang.String">
        <constructor-arg type="java.lang.String" value="organizations"/>
    </bean>

    <util:set id="publicRoles">
        <value>ROLE_ADMINISTRATOR</value>
        <value>ROLE_USER</value>
        <value>ROLE_ANONYMOUS</value>
        <value>ROLE_DEMO</value>
        <value>ROLE_SUPERMART_MANAGER</value>
    </util:set>
    <!-- metadataServiceFunctionFilter is a bean name that the MetadataService looks for to filter functions.
    	 by default, it just points to domELMetadataHelper which provides a default filter.
    	 you can override it to change the way things are filtered.
      -->
    <alias name="domELMetadataHelper" alias="metadataServiceFunctionFilter"/>
    
</beans>
