<!--
  ~ Copyright (C) 2005 - 2020 TIBCO Software Inc. All rights reserved. Confidentiality & Proprietary.
  ~ Licensed pursuant to commercial TIBCO End User License Agreement.
  -->

<beans
		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd"
		xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		>

	<!-- designer changer manages settings read and apply from and to adhoc subsystem -->
	<bean id="designerOptionChanger" class="com.jaspersoft.ji.adhoc.util.DesignerOptionChanger">
		<property name="semanticLayerFactory" ref="semanticLayerFactory" />
		<property name="dataStrategyService" ref="dataStrategyService" />
        <property name="adhocConfiguration" ref="adhocConfiguration"/>
	</bean>

	<bean id="propertyChangersPro" class="java.util.HashMap" parent="propertyChangersCe">
		<constructor-arg index="0" type="java.util.Map">
			<map merge="true">
				<entry key="adhoc" value="designerOptionChanger"/>
				<entry key="ji" value="globalProfilingState"/>
			</map>
		</constructor-arg>
	</bean>

    <bean id="loggerDescriptionFilesPro" parent="loggerDescriptionFilesCe" class="java.util.ArrayList">
        <constructor-arg index="0" type="java.util.Collection">
            <list merge="true">
                <value>WEB-INF/bundles/logger_descriptions_pro</value>
            </list>
        </constructor-arg>
    </bean>

</beans>