<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2005 - 2020 TIBCO Software Inc. All rights reserved. Confidentiality & Proprietary.
  ~ Licensed pursuant to commercial TIBCO End User License Agreement.
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="teiidVirtualQueryService" parent="abstractTeiidVirtualQueryService">
		<property name="dataSetTeiidConnector">
			<bean class="com.jaspersoft.jasperserver.api.engine.common.virtualdatasourcequery.teiid.impl.dataset.DataSetTeiidConnectorImpl">
				<property name="adhocEngineService" ref="adhocEngineService" />
				<property name="tableName" value="MyTable" />
			</bean>
		</property>
    </bean>

</beans>
