<div class="jr-mDialog jr-uWidth-400px jr-uHeight-400px jr" >

    <js-templateNonce></js-templateNonce>
    <div class="jr-mDialog-header mover jr">
        <h1 class="jr-mDialog-header-title jr">{{- title}}</h1>
    </div>

    <div class="jr-mDialog-body jr">
        <div class="jr-mDialog-body-wrapper jr-mDialog-body-wrapperFit jr">
            <div class="jr-mDialog-body-instructions jr">
                <p class="jr-mDialog-body-instructions-text jr">{{- bodyInstructions}}</p>
            </div>

            <div class="jr-uFlexfit-row jr">
                <div class="jr-mListbox jr-uFlexfit-row-item jr">
                    <div class="jr-mListbox-list jr"></div>
                </div>

            </div>

        </div>
    </div>

    <div class="jr-mDialog-footer jr"></div>
</div>
