<div v-bind:data-name="instructionsList" class="jr-mListbox-list jr-isEmpty jr">
    <div class="jr-mInstructor jr-mInstructorFull jr">
        <div class="jr-mInstructor-wrapper jr">
            <span class="jr-mInstructor-icon jr-mIcon jr-mIconXLarge jr-message jr"></span>
            <p class="jr-mInstructor-title jr-mInstructor-titleSmall jr">{{ instructionTitle }}</p>
            <p class="jr-mInstructor-text jr-mInstructor-textSmall jr-uTop-single jr">{{ instructionText }}</p>
        </div>
    </div>
</div>