<div class="jr-mJointree-expression jr">
    <div class="jr-mJointree-expression-field jr-mJointree-expression-fieldLeft jr">
        <span class="jr-mJointree-expression-field-table jr">{{ constantJoinExpression.joinAlias }}:</span>{{ constantJoinExpression.field }}
    </div>

    <div class="jr-mJointree-expression-operator jr">
        <select @change="selectOperator($event.target.value)" class="jr">
            <option v-for="option in operatorOptions"
                    :value="option.value"
                    :selected="isOperatorSelected(option.value)"
            >
                {{ option.label }}
            </option>
        </select>
    </div>

    <div class="jr-mJointree-expression-field jr-mJointree-expression-fieldCustom jr">{{ constantJoinExpression.value }}</div>

    <div class="jr-mJointree-expression-action jr"
         v-hoverMenu="constantJoinExpressionMenuOptions"
         v-bind:data-name="menuOptionsButton"
    >
        <button class="jr-mButton jr-mButtonAction jr-mButtonDropdown jr" aria-label="">
            <span class="jr-mButton-icon jr-mIcon jr-gear jr"></span>
        </button>
    </div>

    <div class="jr-mJointree-expression-action jr">
        <button class="jr-mButton jr-mButtonAction jr" aria-label=""
                @click="remove" v-bind:data-name="removeConstantJoinButton">
            <span class="jr-mButton-icon jr-mIcon jr-delete jr"></span>
        </button>
    </div>
</div>