<div class="section first">

    <js-templateNonce></js-templateNonce>
    <span class="title">{{- i18n["dashboard.dialog.properties.canvas.settings"]}}</span>

    <div class="group">
        <div class="jr-mControl jr-mControlColor jr-mControlInline jr">
            <label class="jr-mControl-label jr">{{- i18n["dashboard.dialog.properties.canvas.background.color"]}}</label>
            <div class="jr-jColorPicker" data-bind="colorpicker:canvasColor"></div>
        </div>
        <label class="control text fixedCanvasControl">
            <input name="useFixedSize" data-bind="checked:useFixedSize" type="checkbox"/>
            <span class="wrap">{{-i18n["dashboard.dialog.properties.fixed.size"]}}</span>
            <input name="fixedWidth" data-bind="value:integer(fixedWidth),attr:{disabled:not(useFixedSize)}" type="text"/>
            {{-i18n["dashboard.dialog.properties.fixed.size.by"]}}
            <input name="fixedWidth" data-bind="value:integer(fixedHeight),attr:{disabled:not(useFixedSize)}" type="text"/>

            <span data-bind="validationErrorClass:fixedWidth">
                <span class="message warning" data-bind="validationErrorText:fixedWidth"></span>
            </span>
             <span data-bind="validationErrorClass:fixedHeight">
                 <span class="message warning" data-bind="validationErrorText:fixedHeight"></span>
             </span>
        </label>
    </div>
</div>

<div class="section">
    <span class="title">{{- i18n["dashboard.dialog.properties.dashlet.settings"]}}</span>

    <div class="group">
        <label class="control checkBox">
            <span class="wrap">{{-i18n["dashboard.dialog.properties.dashlet.filter.show.popup"]}}</span>
            <input name="dashletFilterShowPopup" data-bind="checked:dashletFilterShowPopup" type="checkbox"/>
            <span class="message warning"></span>
        </label>

        <label class="control checkBox">
            <span class="wrap">{{-i18n["dashboard.dialog.properties.dashlet.borders"]}}</span>
            <input name="showDashletBorders" data-bind="checked:showDashletBorders" type="checkbox"/>
            <span class="message warning"></span>
        </label>

        <label class="control text" data-bind="validationErrorClass:dashletMargin">
            <span class="wrap">{{-i18n["dashboard.dialog.properties.dashlet.margin"]}}</span>
            <input name="dashletMargin" data-bind="value:integer(dashletMargin)" type="text"/>
            <span class="message warning" data-bind="validationErrorText:dashletMargin"></span>
        </label>

        <label class="control text" data-bind="validationErrorClass:dashletPadding">
            <span class="wrap">{{-i18n["dashboard.dialog.properties.dashlet.padding"]}}</span>
            <input name="dashletPadding" data-bind="value:integer(dashletPadding)" type="text"/>
            <span class="message warning" data-bind="validationErrorText:dashletPadding"></span>
        </label>

        <div class="jr-mControl jr-mControlColor jr-mControlInline jr-uTop-half jr">
            <label class="jr-mControl-label jr">{{- i18n["dashboard.dialog.properties.dashlet.title.text.color"]}}</label>
            <div class="jr-jColorPicker" data-bind="colorpicker:titleTextColor"></div>
        </div>

        <div class="jr-mControl jr-mControlColor jr-mControlInline jr">
            <label class="jr-mControl-label jr">{{- i18n["dashboard.dialog.properties.dashlet.title.bar.color"]}}</label>
            <div class="jr-jColorPicker" data-show-transparent-input="true" data-bind="colorpicker:titleBarColor"></div>
        </div>
    </div>
</div>

<div class="section">
    <span class="title">{{- i18n["dashboard.dialog.properties.toolbar.settings"]}}</span>

    <div class="group">
        <label class="control checkBox">
            <span class="wrap">{{-i18n["dashboard.dialog.properties.export.button"]}}</span>
            <input name="showExportButton" data-bind="checked:showExportButton" type="checkbox"/>
            <span class="message warning"></span>
        </label>
    </div>
</div>