<div id="{{- uid }}" class="panel info tooltip hidden">

    <js-templateNonce></js-templateNonce>
    <div class="content">
        <div class="header ">
            <div class="title">
            </div>
        </div>
        <div class="body  ">
            <p class="message label">{{- i18n["resource.tooltip.path"] }}</p>
            <p class="message"></p>
            <p class="message label">{{- i18n["resource.tooltip.description"]}}</p>
            <p class="message"></p>
        </div>
    </div>
</div>
