<div class="jr-mJointree-expression jr">
    <div class="jr-mJointree-expression-field jr-mJointree-expression-fieldLeft jr">
        <span class="jr-mJointree-expression-field-table jr">{{ joinAlias.name }}</span>
    </div>

    <div class="jr-mJointree-expression-operator jr"> </div>

    <div class="jr-mJointree-expression-field jr-mJointree-expression-fieldRight jr"></div>

    <div class="jr-mJointree-expression-action jr">
        <button @click="remove" v-bind:data-name="removeJoinAliasButton" class="jr-mButton jr-mButtonAction jr" aria-label="">
            <div class="jr-mButton-icon jr-mIcon jr-delete jr"></div>
        </button>
    </div>
</div>