<div class="jr-mInstructor  jr-mInstructorOutershade jr-mInstructorOuterborder jr-uWidth-500px jr-uBottom-triple jr">
    <div class="jr-mInstructor-wrapper jr">
        <span class="jr-mInstructor-icon jr-mIcon jr-mIconXLarge jr-message jr"></span>
        <p class="jr-mInstructor-title jr-mInstructor-titleSmall jr">{{ i18n['domain.designer.advanced.options.empty.security.file'] }}</p>
        <button @click="onAddSecurityFile" v-bind:data-name="addSecurityFileButton" class="jr-mButton jr-mButtonText jr-mButtonPrimary jr-mButtonSmall jr-uTop-singlehalf jr">
            <span class="jr-mButton-label jr">{{ i18n['domain.designer.advanced.options.add.security.file'] }}</span>
        </button>
    </div>
</div>