<td class="name">

    <js-templateNonce></js-templateNonce>
    <input type="text" name=name value="{{- name }}"/>
    <span class="message warning hidden">{{- i18n['dashboard.component.dialog.properties.hyperlinks.required.field'] }}</span>
</td>
<td class="value">
    <input type="text" name="value" value="{{- value }}">
    <span class="message warning hidden">{{- i18n['dashboard.component.dialog.properties.hyperlinks.required.field'] }}</span>
</td>
<td class="actions">
    <button name="editButton" class="button action simple save"></button>
    <button name="deleteButton" class="button action simple cancel"></button>
</td>